In [44]:
import pandas as pd

input_dir = 'raw_data/'
output_dir = 'processed_data/'

interactions = pd.read_csv(input_dir + 'BX-Book-Ratings.csv', sep=';', encoding="latin-1")
# users = pd.read_csv(input_dir + 'BX-Users.csv', sep=';', encoding="latin-1")
books = pd.read_csv(input_dir + 'BX-Books.csv', sep=';', encoding="latin-1", error_bad_lines=False)
interactions_all = pd.merge(interactions, books, on='ISBN', how='inner')
interactions_all.to_csv(output_dir + 'interactions_all.csv', index=True)

/tmp/ipykernel_3775539/402818368.py:8: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  books = pd.read_csv(input_dir + 'BX-Books.csv', sep=';', encoding="latin-1", error_bad_lines=False)
Skipping line 6452: expected 8 fields, saw 9
Skipping line 43667: expected 8 fields, saw 10
Skipping line 51751: expected 8 fields, saw 9

Skipping line 92038: expected 8 fields, saw 9
Skipping line 104319: expected 8 fields, saw 9
Skipping line 121768: expected 8 fields, saw 9

Skipping line 144058: expected 8 fields, saw 9
Skipping line 150789: expected 8 fields, saw 9
Skipping line 157128: expected 8 fields, saw 9
Skipping line 180189: expected 8 fields, saw 9
Skipping line 185738: expected 8 fields, saw 9

Skipping line 209388: expected 8 fields, saw 9
Skipping line 220626: expected 8 fields, saw 9
Skipping line 227933: expected 8 fields, saw 11
Skipping line 228957: expected 8 fields, saw 10
Skipping line 245933: expected 8 fields, saw 9
Skipping line 251296: expected 8 fields, saw 9
Skipping line 259941: expected 8 fields, saw 9
Skipping line 261529: expected 8 fields, saw 9

/tmp/ipykernel_3775539/402818368.py:8: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv(input_dir + 'BX-Books.csv', sep=';', encoding="latin-1", error_bad_lines=False)

In [36]:
interactions_all

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1031131,276688,0517145553,0,Mostly Harmless,Douglas Adams,1995,Random House Value Pub,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...
1031132,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...
1031133,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...,Debbie Dadey,1997,Apple,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...
1031134,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries),Judith Freeman,1997,Vintage Books USA,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...
1031135,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997,Sterling Publishing,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...

In [30]:
interactions = pd.read_csv(input_dir + 'BX-Book-Ratings.csv', sep=';', encoding="latin-1")
interactions

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [24]:
def k_core(df, column_name, k):
    # filter out rows with less than k occurrences baed on the column_name
    value_counts = df[column_name].value_counts()
    to_remove = value_counts[value_counts < k].index
    df = df[~df[column_name].isin(to_remove)]
    return df

In [63]:
interactions = pd.read_csv(input_dir + 'BX-Book-Ratings.csv', sep=';', encoding="latin-1")

interactions = k_core(interactions, 'User-ID', 20)
interactions = k_core(interactions, 'ISBN', 20)
interactions = interactions.reset_index(drop=True)
interactions = interactions[interactions['ISBN'].isin(books['ISBN'])]

interactions['ISBN'].nunique()

5386

In [64]:
books = books[books['ISBN'].isin(interactions['ISBN'])]
books.ISBN.nunique()

5386

In [54]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
5,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...
18,0440234743,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...
19,0452264464,Beloved (Plume Contemporary Fiction),Toni Morrison,1994,Plume,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...
21,1841721522,New Vegetarian: Bold and Beautiful Recipes for...,Celia Brooks Brown,2001,Ryland Peters &amp; Small Ltd,http://images.amazon.com/images/P/1841721522.0...,http://images.amazon.com/images/P/1841721522.0...,http://images.amazon.com/images/P/1841721522.0...
26,0971880107,Wild Animus,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...

In [55]:
books.to_csv('processed_data/books_raw_20core.csv', index=False)

In [65]:
interactions = pd.merge(interactions, books, on='ISBN', how='inner')

In [67]:
interactions.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276762,0380711524,5,See Jane Run,Joy Fielding,1992,Avon,http://images.amazon.com/images/P/0380711524.0...,http://images.amazon.com/images/P/0380711524.0...,http://images.amazon.com/images/P/0380711524.0...
1,7158,0380711524,0,See Jane Run,Joy Fielding,1992,Avon,http://images.amazon.com/images/P/0380711524.0...,http://images.amazon.com/images/P/0380711524.0...,http://images.amazon.com/images/P/0380711524.0...
2,23768,0380711524,0,See Jane Run,Joy Fielding,1992,Avon,http://images.amazon.com/images/P/0380711524.0...,http://images.amazon.com/images/P/0380711524.0...,http://images.amazon.com/images/P/0380711524.0...
3,28204,0380711524,9,See Jane Run,Joy Fielding,1992,Avon,http://images.amazon.com/images/P/0380711524.0...,http://images.amazon.com/images/P/0380711524.0...,http://images.amazon.com/images/P/0380711524.0...
4,36606,0380711524,0,See Jane Run,Joy Fielding,1992,Avon,http://images.amazon.com/images/P/0380711524.0...,http://images.amazon.com/images/P/0380711524.0...,http://images.amazon.com/images/P/0380711524.0...

In [ ]:
# books = books[['ISBN', 'Book-Title']]
# books.columns = ['book_id', 'book_title']
# # books.to_csv(output_dir + 'item_mapping.csv', index=False)

In [68]:
book_titles = books['Book-Title'].tolist()
book_ids = books['ISBN'].tolist()
book_dict = dict(zip(book_ids, book_titles))
interaction_dicts = dict()

for i in range(len(interactions)):
    user_id = interactions['User-ID'][i]
    book_id = interactions['ISBN'][i]
    rating = interactions['Book-Rating'][i]
    book_title = interactions['Book-Title'][i]
    book_author = interactions['Book-Author'][i]
    book_year = interactions['Year-Of-Publication'][i]

    if user_id not in interaction_dicts:
        interaction_dicts[user_id] = {
            'book_id': [],
            'rating': [],
            'book_title': [],
            'book_author': [],
            'book_year': []
        }
    interaction_dicts[user_id]['book_id'].append(book_id)
    interaction_dicts[user_id]['rating'].append(int(int(rating) > 5))
    interaction_dicts[user_id]['book_title'].append(book_title)
    interaction_dicts[user_id]['book_author'].append(book_author)
    interaction_dicts[user_id]['book_year'].append(book_year)

len(interaction_dicts)

6975

In [69]:
with open('processed_data/interactions_20core.csv', 'w') as f:
    import csv
    writer = csv.writer(f)
    writer.writerow(['user_id', 'book_id', 'rating', 'book_title', 'book_author', 'book_year'])
    for user_id, user_dict in interaction_dicts.items():
        writer.writerow([user_id, user_dict['book_id'], user_dict['rating'], user_dict['book_title'], user_dict['book_author'], user_dict['book_year']])

In [70]:
if len(book_titles) == len(book_ids):
    with open('processed_data/item_mapping.csv', 'w') as f:
        import csv
        writer = csv.writer(f)
        writer.writerow(['book_id', 'book_title'])
        for i in range(len(book_titles)):
            writer.writerow([book_ids[i], book_titles[i]])
    print('item_mapping.csv saved')
else:
    print('Error: book titles and ids do not match')

item_mapping.csv saved

In [74]:
# remove the user with less than 11 interactions

new_user_dict = {}
for key in interaction_dicts.keys():
    if len(interaction_dicts[key]['book_id'])  >= 11:
        new_user_dict[key] = interaction_dicts[key]
    else:
        pass

len(new_user_dict)

4441

In [76]:
# count the length of unique book_id for all records in filtered_interaction_dicts
unique_book_ids = set()
for key, values in new_user_dict.items():
    unique_book_ids.update(set(values['book_id']))
len(unique_book_ids)

5386

In [80]:
sequential_interaction_list = []
seq_len = 10
for user_id in new_user_dict:
    temp = zip(new_user_dict[user_id]['book_id'], new_user_dict[user_id]['rating'], new_user_dict[user_id]['book_title'], new_user_dict[user_id]['book_author'])
    result = zip(*temp)
    new_user_dict[user_id]['book_id'], new_user_dict[user_id]['rating'], new_user_dict[user_id]['book_title'], new_user_dict[user_id]['book_author'] = [list(_) for _ in result]
    for i in range(10, len(new_user_dict[user_id]['book_id'])):
        sequential_interaction_list.append(
            [user_id, new_user_dict[user_id]['book_title'][i - seq_len: i],
             new_user_dict[user_id]['book_id'][i-seq_len:i], 
             new_user_dict[user_id]['rating'][i-seq_len:i],  
             new_user_dict[user_id]['book_id'][i], 
             new_user_dict[user_id]['book_title'][i],
             new_user_dict[user_id]['rating'][i]]
        )
print(len(sequential_interaction_list))

198360

In [81]:
import csv

with open('processed_data/all_sequential.csv', 'w') as f:
    writer = csv.writer(f)
    writer.writerow(['user_id', 'history_item_title', 'history_item_id', 'history_rating', 'item_id', 'item_title', 'rating'])
    writer.writerows(sequential_interaction_list)

In [82]:
import random
random.seed(42)
random.shuffle(sequential_interaction_list)
sequential_interaction_list_2000 = sequential_interaction_list[:2000]
unique_book_ids = set()
for record in sequential_interaction_list_2000:
    unique_book_ids.update(set(record[2]))
len(unique_book_ids)

4921

In [88]:
import random

user_list = list(new_user_dict.keys())
random.seed(42)
random.shuffle(user_list)
user_2000 = user_list[:2000]

In [89]:
import random
nrows = []
for user in user_2000:

    item_id = new_user_dict[user]['book_id']
    rating = new_user_dict[user]['rating']
    book_title = new_user_dict[user]['book_title']
    book_author = new_user_dict[user]['book_author']

    random.seed(42)
    random.shuffle(item_id)
    random.seed(42)
    random.shuffle(rating)
    random.seed(42)
    random.shuffle(book_title)
    random.seed(42)
    random.shuffle(book_author)

    nrows.append([user, item_id[:-1][:10], book_title[:-1][:10], book_author[:-1][:10], rating[:-1][:10], item_id[-1], rating[-1]])

len(nrows)

2000

In [90]:
unique_book_ids = set()
for record in nrows:
    unique_book_ids.update(set(record[2]))
len(unique_book_ids)

4389

In [91]:

def generate_csv(user_list, user_dict, output_csv):
    import random
    nrows = []
    for user in user_list:

        book_id = user_dict[user]['book_id']
        rating = user_dict[user]['rating']
        book_title = user_dict[user]['book_title']
        book_author = user_dict[user]['book_author']

        random.seed(42)
        random.shuffle(item_id)
        random.seed(42)
        random.shuffle(rating)
        random.seed(42)
        random.shuffle(book_title)
        random.seed(42)
        random.shuffle(book_author)

        nrows.append([user, book_id[:-1][:10], book_title[:-1][:10], book_author[:-1][:10], rating[:-1][:10], book_id[-1], book_title[-1], rating[-1]])

    with open(output_csv, 'w') as f:
        import csv
        writer = csv.writer(f)
        writer.writerow(['user_id', 'history_item_id', 'history_item_title', 'history_item_author', 'history_rating','item_id','item_title', 'rating'])
        writer.writerows(nrows)

In [92]:
generate_csv(user_2000, new_user_dict, 'processed_data/data_2000.csv')

In [1]:
# after using chatgpt to generate the taxonomy, 
# randomly sample some instances from the dataset to test if the taxonomy can cover the sampled instances

import pandas as pd

books = pd.read_csv('processed_data/books_raw_20core.csv')

In [4]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...
1,0440234743,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...
2,0452264464,Beloved (Plume Contemporary Fiction),Toni Morrison,1994,Plume,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...
3,1841721522,New Vegetarian: Bold and Beautiful Recipes for...,Celia Brooks Brown,2001,Ryland Peters &amp; Small Ltd,http://images.amazon.com/images/P/1841721522.0...,http://images.amazon.com/images/P/1841721522.0...,http://images.amazon.com/images/P/1841721522.0...
4,0971880107,Wild Animus,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...

In [7]:
books = books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher']]
books.columns = ['book_id', 'book_title', 'book_author', 'book_year', 'publisher']
books.to_csv('processed_data/books.csv', index=False)

In [9]:
import random

seed = 42

# randomly sample 40 records from the books dataframe and store them in four groups of 10 records
sampled_books = books.sample(40, replace=False, random_state=seed)

random_samples = []
for i in range(4):
    random_samples.append(sampled_books[i*10: (i+1)*10])

In [18]:
print(random_samples[0].to_csv(index=False))

book_id,book_title,book_author,book_year,publisher
0671019759,Dream Man,Linda Howard,1998,Pocket
0312989393,Queen Bee of Mimosa Branch,Haywood Smith,2003,St. Martin's Paperbacks
0786880007,Simplify Your Life : 100 Ways to Slow Down and Enjoy the Things That Really Matter,Elaine St. James,1994,Hyperion
0449911004,Patty Jane's House of Curl (Ballantine Reader's Circle),LORNA LANDVIK,1996,Ballantine Books
0380790076,Simply Irresistible (Avon Light Contemporary Romances),Rachel Gibson,1998,Avon
0385491034,The Robber Bride,MARGARET ATWOOD,1998,Anchor
0449911357,Fried Green Tomatoes at the Whistle Stop Cafe (Ballantine Reader's Circle),Fannie Flagg,1997,Ballantine Books
0449912558,The Sparrow,MARY DORIA RUSSELL,1997,Fawcett Books
051513452X,The Lunatic Cafe (Anita Blake Vampire Hunter (Paperback)),Laurell K. Hamilton,2002,Jove Books
0451206711,Orchid Blues (Holly Barker Novels (Paperback)),Stuart Woods,2002,Signet Book

In [19]:
books[books['book_title']=='Dream Man']

         book_id book_title   book_author  book_year publisher
5087  0671019759  Dream Man  Linda Howard       1998    Pocket

In [ ]:
# {
#   "Genres": ["Fiction", "Non-Fiction", "Science Fiction", "Fantasy", "Mystery", "Thriller", "Romance", "Historical Fiction", "Biography", "Self-Help", "Children's", "Young Adult", "Humor", "Classics", "Poetry", "Graphic Novel", "Satire", "Urban Fantasy", "Dystopian"],
#   "Formats": ["Hardcover", "Paperback", "Ebook", "Audiobook"],
#   "Languages": ["English", "Spanish", "French", "German", "Chinese", "Japanese", "Korean", "Italian", "Portuguese", "Russian", "Other"],
#   "Author Nationalities": ["American", "British", "Canadian", "Australian", "Indian", "Chinese", "Japanese", "French", "German", "Russian", "Italian", "Spanish", "Brazilian", "Mexican", "South African", "Other"],
#   "Author Genders": ["Male", "Female", "Non-Binary", "Other", "Unknown"],
#   "Publication Years": ["Pre-1900", "1900-1950", "1951-2000", "2001-2010", "2011-2020", "2021-Present"],
#   "Book Lengths": ["Short Story", "Novella", "Novel", "Series"],
#   "Page Counts": ["Less than 100", "100-200", "201-300", "301-400", "401-500", "More than 500"],
#   "Audience Age Groups": ["Children", "Teens", "Adults", "Seniors", "All Ages"],
#   "Reading Levels": ["Beginner", "Intermediate", "Advanced"],
#   "Themes": ["Adventure", "Friendship", "Love", "War", "Crime", "Fantasy", "Science", "Religion", "Philosophy", "Politics", "History", "Technology", "Magic", "Travel", "Art", "Music", "Sports", "Family", "Identity", "Growth", "Ethics", "Nature", "Survival", "Courage", "Betrayal", "Justice", "Freedom"],
#   "Settings": ["Contemporary", "Historical", "Future", "Alternate Reality", "Urban", "Rural", "Space", "Fantasy World"],
#   "Ratings": ["1 Star", "2 Stars", "3 Stars", "4 Stars", "5 Stars"],
#   "Popularity": ["Bestseller", "Popular", "Average", "Niche"],
#   "Awards": ["Pulitzer Prize", "Man Booker Prize", "National Book Award", "Hugo Award", "Nebula Award", "None"]
# }

In [ ]:
{
    "Genres": ["Fiction", "Non-Fiction", "Science Fiction", "Fantasy", "Mystery", "Thriller", "Romance", "Historical Fiction", "Biography", "Self-Help", "Children's", "Young Adult", "Humor", "Classics", "Poetry", "Graphic Novel", "Satire", "Urban Fantasy", "Dystopian"],
    "Themes": ["Adventure", "Friendship", "Love", "War", "Crime", "Fantasy", "Science", "Religion", "Philosophy", "Politics", "History", "Technology", "Magic", "Travel", "Art", "Music", "Sports", "Family", "Identity", "Growth", "Ethics", "Nature", "Survival", "Courage", "Betrayal", "Justice", "Freedom"],
    "Audience Age Groups": ["Children", "Teens", "Adults", "Seniors", "All Ages"],
    "Settings": ["Contemporary", "Historical", "Future", "Alternate Reality", "Urban", "Rural", "Space", "Fantasy World"],
    "Popularity": ["Bestseller", "Popular", "Average", "Niche"],
    "Languages": ["English", "Spanish", "French", "German", "Chinese", "Japanese", "Korean", "Italian", "Portuguese", "Russian", "Other"],
    "Ratings": ["1 Star", "2 Stars", "3 Stars", "4 Stars", "5 Stars"],
    "Formats": ["Hardcover", "Paperback", "Ebook", "Audiobook"],
    "Publication Years": ["Pre-1900", "1900-1950", "1951-2000", "2001-2010", "2011-2020", "2021-Present"],
    "Author Nationalities": ["American", "British", "Canadian", "Australian", "Indian", "Chinese", "Japanese", "French", "German", "Russian", "Italian", "Spanish", "Brazilian", "Mexican", "South African", "Haitian", "Other"],
    "Author Genders": ["Male", "Female", "Non-Binary", "Other", "Unknown"],
    "Book Lengths": ["Short Story", "Novella", "Novel", "Series"],
    "Page Counts": ["Less than 100", "100-200", "201-300", "301-400", "401-500", "More than 500"],
    "Reading Levels": ["Beginner", "Intermediate", "Advanced"],
    "Awards": ["Pulitzer Prize", "Man Booker Prize", "National Book Award", "Hugo Award", "Nebula Award", "None"]
}

#### Process the generated book taxonomy

In [12]:
import json

directory = 'outputs/'

with open(directory + 'book_taxonomy_15feats_temp.json', 'r') as file:
    temp_book_taxonomy = json.load(file)

In [13]:
for book, tax in temp_book_taxonomy.items():
    try:
        tax_dict = eval(tax)
    except:
        print(book, tax)
        # try:
        #     tax_dict = eval(tax.replace("'Children's'", "\"Children's\""))
        # except:
        #     print(book, tax)

In [14]:
eval(temp_book_taxonomy['Speaker for the Dead (Ender Wiggins Saga (Paperback))'])

{'Genres': ['Science Fiction'],
 'Themes': ['Adventure', 'Philosophy', 'Identity'],
 'Audience Age Groups': 'Teens',
 'Settings': 'Future',
 'Popularity': 'Bestseller',
 'Languages': 'English',
 'Formats': 'Paperback',
 'Book Lengths': 'Novel',
 'Publication Years': '1951-2000',
 'Author Nationalities': 'American',
 'Author Genders': 'Male',
 'Page Counts': '301-400',
 'Reading Levels': 'Intermediate',
 'Awards': ['Hugo Award', 'Nebula Award'],
 'Ratings': 'Unknown'}

In [15]:
book_taxonomy = dict()

for book, tax in temp_book_taxonomy.items():
    tax_dict = eval(tax)
    book_taxonomy[book] = tax_dict

with open("processed_data/" + 'book_taxonomy_15feats.json', 'w') as f:
    json.dump(book_taxonomy, f, indent=4)

In [ ]:
# calculate the bert embeddings for each book name in the book_taxonomy
# and store the embeddings in a dictionary where the key is the book name
# see the python file 'calculate_bert_emb.py' for the code

In [16]:
import json
import pandas as pd

directory = 'processed_data/'
df_items = pd.read_csv(directory + 'item_mapping.csv')

with open(directory + 'book_taxonomy_15feats.json', 'r') as file:
    books_taxonomy = json.load(file)

tax_values = []

for index, row in df_items.iterrows():
    book = row['book_title']
    tax_values.append(books_taxonomy[book])

df_items['book_taxonomy'] = tax_values
df_items.to_csv(directory + 'item_mapping_tax_15feats.csv', index=False)

In [17]:
import json

def get_book_tax(book_id, df_items):
    '''
    Input: book_id (int)
    Output: a list of values for the book taxonomy of the given book_id
    Note: need to get the df_items before running this method
    '''
    book_tax = df_items[df_items['book_id'] == book_id]['book_taxonomy'].values[0]
    # string_dict = json.loads(book_tax)
    string_dict = eval(book_tax)
    value_list = []
    for key in string_dict:
        value_list.append(string_dict[key])
    return value_list

def history_to_json_nametax(input_path, output_path, item_mapping_path, taxonomy=False, sample=False):
    import pandas as pd
    data = pd.read_csv(input_path)
    df_items = pd.read_csv(item_mapping_path)
    # book_titles = df_items['book_title'].tolist()
    # book_ids = df_items['book_id'].tolist()
    # book_dict = dict(zip(book_ids, book_titles))
    if sample:
        data = data.sample(n=2000, random_state=42).reset_index(drop=True)
        data.to_csv(output_path[:-5] + ".csv", index=False)
    json_list = []
    for index, row in data.iterrows():
        # print(index)
        row['history_item_id'] = eval(row['history_item_id'])
        row['history_item_title'] = eval(row['history_item_title'])
        L = len(row['history_item_id'])
        history = "The user has interacted with the following books before:"

        # target_item_name = "\"" + book_dict[int(row['item_id'])] + "\""

        if taxonomy: # taxonomy generation
            history += " {"
            for i in range(L):
                # print(i)
                # tax_value = get_book_tax(int(row['history_item_id'][i]), df_items)
                tax_value = get_book_tax(str(row['history_item_id'][i]), df_items)

                if i == 0:
                    history += "\"" + row['history_item_title'][i] + "\"" + f": {tax_value}"
                else:
                    history += ", \"" + row['history_item_title'][i] + "\"" + f": {tax_value}"
            history += "}"
            json_list.append({
                "input": f"{history}\n",
                "true_book": str(row['item_title']),
                "true_book_id": str(row['item_id']),
                # "true_book_time": str(row['timestamp']),
            })
        
        else: # direct generation
            for i in range(L):
                if i == 0:
                    history += " \"" + row['history_item_title'][i] + "\""
                else:
                    history += ", \"" + row['history_item_title'][i] + "\""
            json_list.append({
                # "instruction": "Given a list of books the user has interacted before, please recommend a new book that aligns with the user's preferences. Output in dictionary with key \"recommendation\" and the corresponding recommended book, and don't give any explanation.",
                "input": f"{history}\n",
                "true_book": str(row['item_title']),
                "true_book_id": str(row['item_id']),
                # "true_book_time": str(row['timestamp']),
            })
        
    with open(output_path, 'w') as f:
        json.dump(json_list, f, indent=4)


def history_to_json_tax(input_path, output_path, item_mapping_path, taxonomy=False, sample=False):
    import pandas as pd
    data = pd.read_csv(input_path)
    df_items = pd.read_csv(item_mapping_path)
    # book_titles = df_items['book_title'].tolist()
    # book_ids = df_items['book_id'].tolist()
    # book_dict = dict(zip(book_ids, book_titles))
    if sample:
        data = data.sample(n=2000, random_state=42).reset_index(drop=True)
        data.to_csv(output_path[:-5] + ".csv", index=False)
    json_list = []
    for index, row in data.iterrows():
        # print(index)
        row['history_item_id'] = eval(row['history_item_id'])
        row['history_item_title'] = eval(row['history_item_title'])
        L = len(row['history_item_id'])
        history = "The user has interacted with the following books before:"

        # target_item_name = "\"" + book_dict[int(row['item_id'])] + "\""

        if taxonomy: # taxonomy generation
            history += " ["
            for i in range(L):
                # print(i)
                tax_value = get_book_tax(str(row['history_item_id'][i]), df_items)
                if i == 0:
                    history += f"{tax_value}"
                else:
                    history += ", " + f"{tax_value}"
            history += "]"
            json_list.append({
                "input": f"{history}\n",
                "true_book": str(row['item_title']),
                "true_book_id": str(row['item_id']),
                # "true_book_time": str(row['timestamp']),
            })
        
        else: # direct generation
            for i in range(L):
                if i == 0:
                    history += " \"" + row['history_item_title'][i] + "\""
                else:
                    history += ", \"" + row['history_item_title'][i] + "\""
            json_list.append({
                # "instruction": "Given a list of books the user has interacted before, please recommend a new book that aligns with the user's preferences. Output in dictionary with key \"recommendation\" and the corresponding recommended book, and don't give any explanation.",
                "input": f"{history}\n",
                "true_book": str(row['item_title']),
                "true_book_id": str(row['item_id']),
                # "true_book_time": str(row['timestamp']),
            })
        
    with open(output_path, 'w') as f:
        json.dump(json_list, f, indent=4)

In [44]:
directory = 'processed_data/'

history_to_json_nametax(directory + 'data_2000.csv', directory + 'data_2000_dir.json', directory + 'item_mapping.csv', taxonomy=False, sample=False)

history_to_json_nametax(directory + 'data_2000.csv', directory + 'data_2000_nametax_5feats.json', directory + 'item_mapping_tax_5feats.csv', taxonomy=True, sample=False)
history_to_json_nametax(directory + 'data_2000.csv', directory + 'data_2000_nametax_10feats.json', directory + 'item_mapping_tax_10feats.csv', taxonomy=True, sample=False)

history_to_json_tax(directory + 'data_2000.csv', directory + 'data_2000_tax_5feats.json', directory + 'item_mapping_tax_5feats.csv', taxonomy=True, sample=False)
history_to_json_tax(directory + 'data_2000.csv', directory + 'data_2000_tax_10feats.json', directory + 'item_mapping_tax_10feats.csv', taxonomy=True, sample=False)

In [18]:
directory = 'processed_data/'

history_to_json_nametax(directory + 'data_2000.csv', directory + 'data_2000_nametax_15feats.json', directory + 'item_mapping_tax_15feats.csv', taxonomy=True, sample=False)

history_to_json_tax(directory + 'data_2000.csv', directory + 'data_2000_tax_15feats.json', directory + 'item_mapping_tax_15feats.csv', taxonomy=True, sample=False)

In [19]:
# get a prompt sample
# randomly choose one sample, for which the user_id is in all_sequential.csv but not in data_2000.csv

import pandas as pd
data_2000 = pd.read_csv('processed_data/data_2000.csv')
all_sequential = pd.read_csv('processed_data/all_sequential.csv')

data_2000_user_ids = set(data_2000['user_id'])
all_sequential_user_ids = set(all_sequential['user_id'])

prompt_user_ids = all_sequential_user_ids - data_2000_user_ids

prompt_user_id = list(prompt_user_ids)[2]

prompt_user_data = all_sequential[all_sequential['user_id'] == prompt_user_id]

In [20]:
prompt_sample = prompt_user_data.sample(n=1, random_state=42).values[0].tolist()

In [21]:
len(eval(prompt_sample[1]))

10

In [22]:
def get_prompt_sample(prompt_sample, item_mapping_path, taxonomy=False):
    import pandas as pd
    df_items = pd.read_csv(item_mapping_path)
    book_names = df_items['book_title'].tolist()
    book_ids = df_items['book_id'].tolist()
    book_dict = dict(zip(book_ids, book_names))

    # json_list = []
    history_item_id = eval(prompt_sample[2])
    history_item_title = eval(prompt_sample[1])
    L = len(history_item_id)

    target_item_id = prompt_sample[4]
    target_item_title = book_dict[target_item_id]

    if taxonomy: # taxonomy generation
        for i in range(L):
            # print(i)
            tax_value = get_book_tax(str(history_item_id[i]), df_items)
            if i == 0:
                history = "{\"" + history_item_title[i] + "\"" + f": {tax_value}"
            else:
                history += ", \"" + history_item_title[i] + "\"" + f": {tax_value}"
        history += "}"
        target_tax = get_book_tax(target_item_id, df_items)
        target = "\"" + target_item_title + "\"" + f": {target_tax}"
    
    else: # direct generation
        for i in range(L):
            if i == 0:
                history = "\"" + history_item_title[i] + "\""
            else:
                history += ", \"" + history_item_title[i] + "\""
        target = "\"" + target_item_title + "\""
    
    return history, target

In [25]:
# history, target = get_prompt_sample(prompt_sample, 'processed_data/item_mapping.csv', taxonomy=False)
history, target = get_prompt_sample(prompt_sample, 'processed_data/item_mapping_tax_15feats.csv', taxonomy=True)

In [36]:
list(eval(history).keys())

['Patriot Games',
 'The Pillars of the Earth',
 'The Firm',
 'Insomnia',
 'Second Child',
 'Skeleton Crew',
 'The Stand: The Complete &amp; Uncut Edition',
 'The Runaway Jury',
 'The Client',
 'The Pelican Brief']

In [45]:
print(eval(history)['The Pelican Brief'])

[['Thriller', 'Mystery'], ['Crime', 'Justice'], 'Adults', 'Contemporary', 'Bestseller', 'English', 'Hardcover', 'Novel', '1951-2000', 'American', 'Male', '301-400', 'Intermediate', 'None', 'Unknown']

In [29]:
print(target)

"Nathaniel": [['Horror', 'Thriller'], ['Mystery', 'Supernatural', 'Family'], 'Adults', 'Contemporary', 'Average', 'English', 'Paperback', 'Novel', '1951-2000', 'American', 'Male', '301-400', 'Intermediate', 'None', 'Unknown']

In [144]:
history

'{"Patriot Games": [[\'Thriller\', \'Fiction\'], [\'Adventure\', \'War\', \'Politics\'], \'Adults\', \'Contemporary\', \'Popular\', \'English\', \'Paperback\', \'Novel\', \'1951-2000\', \'American\'], "The Pillars of the Earth": [[\'Historical Fiction\'], [\'Adventure\', \'Love\', \'War\'], \'Adults\', \'Historical\', \'Bestseller\', \'English\', \'Paperback\', \'Novel\', \'1951-2000\', \'British\'], "The Firm": [[\'Thriller\', \'Mystery\'], [\'Crime\', \'Justice\'], \'Adults\', \'Contemporary\', \'Bestseller\', \'English\', \'Paperback\', \'Novel\', \'1951-2000\', \'American\'], "Insomnia": [[\'Horror\', \'Fantasy\'], [\'Psychological\', \'Supernatural\', \'Mystery\'], \'Adults\', \'Contemporary\', \'Bestseller\', \'English\', \'Paperback\', \'Novel\', \'1951-2000\', \'American\'], "Second Child": [[\'Thriller\', \'Horror\'], [\'Mystery\', \'Family\', \'Crime\'], \'Adults\', \'Contemporary\', \'Popular\', \'English\', \'Paperback\', \'Novel\', \'1951-2000\', \'American\'], "Skeleton Crew": [[\'Fiction\', \'Horror\', \'Thriller\'], [\'Adventure\', \'Survival\', \'Courage\', \'Betrayal\'], \'Adults\', \'Contemporary\', \'Bestseller\', \'English\', \'Paperback\', \'Novel\', \'1951-2000\', \'American\'], "The Stand: The Complete &amp; Uncut Edition": [[\'Science Fiction\', \'Horror\', \'Fantasy\'], [\'Survival\', \'Good vs Evil\', \'Post-Apocalyptic\'], \'Adults\', \'Contemporary\', \'Bestseller\', \'English\', \'Paperback\', \'Novel\', \'1951-2000\', \'American\'], "The Runaway Jury": [[\'Thriller\', \'Mystery\'], [\'Crime\', \'Justice\'], \'Adults\', \'Contemporary\', \'Bestseller\', \'English\', \'Hardcover\', \'Novel\', \'1951-2000\', \'American\'], "The Client": [[\'Thriller\', \'Mystery\'], [\'Crime\', \'Justice\'], \'Adults\', \'Contemporary\', \'Bestseller\', \'English\', \'Paperback\', \'Novel\', \'1951-2000\', \'American\'], "The Pelican Brief": [[\'Thriller\', \'Mystery\'], [\'Crime\', \'Justice\'], \'Adults\', \'Contemporary\', \'Bestseller\', \'English\', \'Hardcover\', \'Novel\', \'1951-2000\', \'American\']}'

In [145]:
target

'"Nathaniel": [[\'Horror\', \'Thriller\'], [\'Mystery\', \'Supernatural\', \'Family\'], \'Adults\', \'Contemporary\', \'Popular\', \'English\', \'Paperback\', \'Novel\', \'1951-2000\', \'American\']'